
<div class="widgetname">
<!--    <form>
        <div class="input-group" data-dojo-attach-point="inputNodes">
            <input type="text" class="form-control" placeholder="#rrggbb" data-dojo-attach-point="colorInputNode">
            <div class="input-group-addon"><input type="color" data-dojo-attach-point="colorSelectNode"></div>
        </div>
    </form>
        <div class="widgetname-infoTextNode" data-dojo-attach-point="infoTextNode" />
    -->
    <!-- <button class ="btn-button btn-circle btn-xlarge btn-aqua" data-dojo-attach-point="btnText"></button> -->
   
    <button  data-dojo-type="dijit.Dialog" data-dojo-props="onClick:showDialogTwo" class ="btn-button btn-circle btn-xlarge btn-aqua" data-dojo-attach-point="theButton">
    </button>


    <span data-dojo-attach-point="txtShow"></span>
    <div data-dojo-attach-point="txtCus"></div>
</div>

